*{
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h1{
    text-align: center;
    font-size: 175%;
    margin-bottom: 1cm;
}
@media (min-width: 992px){
.row div{
    float: left;
}
p{
    margin: 24px;
    position: relative;
    top: 20px;
}
#column1{
    width: 33%;
    height: 150px;
    background-color:  pink;
    border: 1px solid black;
    margin-right: 4px;
    position: relative;

}

#column2{
    width: 33%;
    height: 150px;
    background-color:pink;
    border: 1px solid black;
    /* margin: 2px; */
    position: relative;
    
}
#column3{
    width: 33%;
    height: 150px;
    background-color: pink;
    border: 1px solid black;
    margin-left: 4px;
    position: relative;
}
#sec1,#sec2,#sec3{
    background-color: purple;
    position: absolute;
    font-size: 125%;
    width: 30%;
    right: 0;
    border: 1px solid black;
    /* border-left:    1px solid black; 
    border-bottom: 1px solid black; */
    text-align: center;
}
}
@media (min-width: 768px) and (max-width:991px){

p{
    margin: 24px;
    position: relative;
    top: 20px;
}
#column1, #column2 {
    width: 48.5%;
    height:150px;
    float: left;
    background-color:  pink;
    border: 1px solid black;
    margin-right: 6px;
    margin-left: 2px;
    position: relative;

}
    

#column3{
    width: 98%;
    height: 150px;
    background-color: pink;
    border: 1px solid black;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 4px;
    position: relative;
    top:1cm;
    clear: both;
}
#sec1,#sec2,#sec3{
    background-color: purple;
    position: absolute;
    font-size: 125%;
    width: 30%;
    right: 0;
    border: 1px solid black;
    text-align: center;
}
}
@media (max-width:767px ){
p{
    position: relative;
    top: 20px;
}
#column1, #column2, #column3 {
    background-color:  pink;
    border: 1px solid black;
    min-height: 100px;
    margin: 20px;
    position: relative;
}
#sec1,#sec2,#sec3{
    background-color: purple;
    position: absolute;
    font-size: 125%;
    width: 30%;
    right: 0;
    border: 1px solid black;
    text-align: center;
}

}           